<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <section id="fof" class="clear">
      <!-- ####################################################################################################### -->
      <div class="hgroup">
        <h1><span><strong>4</strong></span><span><strong>0</strong></span><span><strong>4</strong></span></h1>
        <h2>Error ! <span>Page Not Found</span></h2>
      </div>
      <p>Pagina cautata nu a fost gasita</p>
      <p><a href="javascript:history.go(-1)">&laquo; Go Back</a> / <a href="/">Go Home &raquo;</a></p>
      <!-- ####################################################################################################### -->
    </section>
    
    <div class="row" style="visibility: hidden">
      <div class="col-md-12">
        <div class="about-box firstItem active equalheight" style="height: 280px;">
          <div class="round-icon-wrapper">
            <span class="icon-users2"></span>
          </div>
          <h3>
            <a href="team.html">Team</a>
          </h3>
          <!--<p class="regular-text">Lorem ipsum dolor sit amet, consect etuer adipi scing elit, sed diam nonum my nibh euismod tincidunt.</p>-->
        </div>
      </div>
      <!---->
    </div>

  </div>
</div>
