<div class="row">
<h2 class="b-clor mssh1-">{{localizationService.language.home.t6}}</h2>
</div>
<hr class="darhnline">

<div class="divider">
  <div class="swiper-container">
    <swiper [config]="config" #usefulSwiper>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/javascript_200.png"></div>

          <span>{{localizationService.language.slide.js}}
          </span>
        </div>
        <div class="swiper-slide">
          <div>
            <img class="imgslider" src="images/slider/algorithms_200.png">
          </div>
          <span>{{localizationService.language.slide.algo}}</span>
        </div>
        <div class="swiper-slide">
          <div>
            <img class="imgslider" src="images/slider/nodejs.png">
          </div>
          <span>{{localizationService.language.slide.algo}}</span>
        </div>
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/mongodb.png"></div>

          <span>{{localizationService.language.slide.mongo}}</span>
        </div>
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/html.png"></div>

          <span>{{localizationService.language.slide.html}}</span>
        </div>
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/css.png"></div>

          <span>{{localizationService.language.slide.css}}</span>
        </div>

        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/jq.png"></div>

          <span>{{localizationService.language.slide.jq}}</span>
        </div>
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/es6.png"></div>

          <span>{{localizationService.language.slide.es6}}</span>
        </div>
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/angular1.png"></div>
          <span>{{localizationService.language.slide.ang1}}</span>

        </div>

        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/angular1.png"></div>
          <span>{{localizationService.language.slide.ang2}}</span>
        </div>

        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/testing.png"></div>
          <span>{{localizationService.language.slide.testing}}</span>
        </div>
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/mobile.png"></div>
          <span>{{localizationService.language.slide.mobile}}</span>
        </div>
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/react.png"></div>
          <span>{{localizationService.language.slide.react}}</span>
        </div>
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/docker.png"></div>
          <span>{{localizationService.language.slide.docker}}</span>
        </div>
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/test_auto.png"></div>
          <span>{{localizationService.language.slide.autotesting}}</span>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>
  </div>
</div>

<!--<hr class="dark-line">-->

