
.question
{
 padding: 25px;
  //background-color: #F0F0F0;
}

.card{
margin-bottom: 20px;
  min-height: 75px;
}

//
//.pd20
//{
//  padding-bottom: 20px;
//}
//.field
//{
//  background-color: lightgrey;
//}

.qrd {
  //-webkit-appearance: none;
  //-moz-appearance: none;
  //-ms-appearance: none;
  //-o-appearance: none;
  //appearance: none;
  //position: relative;
  //top: 13.33333px;
  //right: 0;
  //bottom: 0;
  //left: 0;
  //height: 40px;
  //width: 40px;
  //transition: all 0.15s ease-out 0s;
  //background: #cbd1d8;
  //border: none;
  //color: #fff;
  //cursor: pointer;
  ////display: inline-block;
  //margin-right: 0.5rem;
  //outline: none;
  //position: relative;
  //z-index: 1000;

  display: none;
}
.qrd:hover {
  color: red;
}
.qrd:checked span{
  background: #40e0d0;
  color: red;
}
.qrd:checked::before {
  //height: 40px;
  //width: 40px;
  //position: absolute;
  //content: '✔';
  //display: none;
  //font-size: 26.66667px;
  //text-align: center;
  //line-height: 40px;
  color: red;
}
.qrd:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: none;

  position: relative;
  z-index: 100;

  color: green;
}
.qrd.custradio {
  border-radius: 50%;
}
.qrd.custradio::after {
  border-radius: 50%;
}
.qlabel{
  //font-size: 24px;
  text-align: center;
  cursor: pointer;
  //margin-top: 10px;
  //border: 1px solid red;
  //width: 100%;
  //height: 100%;
}
.custradio {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  + .span {
    color: darkgray;
  }

  &:checked + .span {
    color: green;
    &::before {
      margin-right: 2rem;
      border: 0.5rem solid blue;
      background: yellow;
    }
  }

  &:disabled + .span {
    color: black;
    cursor: default;

    &.notgood{
      color: red;
    }

    &.good{
      color: green;
    }
    &.goodnotclicked{
      color: orange;
    }
    //&::before {
    //  margin-right: 2rem;
    //  border: 0.5rem solid blue;
    //  background: yellow;
    //}
  }
}
