
<div class="tab-content center">
  <div class="tab-pane active" id="men">
    <ul class="nav-list list-inline">
      <li>
        <!--<img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Running.png">-->

        <button type="button" class="btn btn-link" [routerLink]="['/education']">
          <i class="fa fa-home fas"></i>
          <span class="title">{{localizationService.language.menu.education}}</span>
        </button>
      </li>

      <li>
        <!--<img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Running.png">-->

        <button type="button" class="btn btn-link" [routerLink]="['/education/courses']">
          <i class="fa fa-graduation-cap fas"></i>
          <span class="title">{{localizationService.language.menu.cursuri}}</span>
        </button>
      </li>
      <li>
        <!--<img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Basketball.png">-->
        <button type="button" class="btn btn-link" [routerLink]="['/education/dailyChallenge']">
          <i class="fa fa-eye fas"></i>
          <span class="title">{{localizationService.language.menu.exercise}}</span>
        </button>
      </li>
      <li>
        <!--<img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Football.png">-->
        <button type="button" class="btn btn-link" [routerLink]="['/education/survey']">
          <i class="fa fa-question fas"></i>
          <span class="title">{{localizationService.language.menu.sondaj}}</span>
        </button>
        </li>
      <li>
        <!--<img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_Soccer.png">-->
        <button type="button" class="btn btn-link" [routerLink]="['/education/registercourse']">
          <i class="fa fa-handshake-o fas"></i>
          <span class="title">{{localizationService.language.menu.inscriere}}</span>
        </button>
      </li>
      <!--<li><img src="http://content.nike.com/content/dam/one-nike/globalAssets/menu_header_images/OneNike_Global_Nav_Icons_MensTraining.png"><span>Men's Training</span></a></li>-->
    </ul>
  </div>
</div>

<router-outlet></router-outlet>

<div class="container">
  instruire
  </div>

