

<hr class="dark-line">

<div class="container services">
<div class="row">
  <!-- features box -->
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="box-green-border">
      <a href="#">
        <span class="icon-palette"></span>
        <div>Design</div>
      </a>
      <p>Partea de design este acoperita prin intelegerea prin exercitii pronind de la pagini simple la pagini complexe. Scopul este integrarea unei teme web intr-o aplicatie folosind cele mai noi standarde</p>
      <div class="service-overlay1">
        <ul class="clearfix">
          <li>
            <a href="logo-and-branding.html">
              <i class="icon-palette"></i> Logo &amp; Branding</a>
          </li>
          <li>
            <a href="website-design.html">
              <i class="icon-laptop-phone"></i> Website Design</a>
          </li>
          <li>
            <a href="mobile-app-design.html">
              <i class="icon-phone"></i> Mobile App Design</a>
          </li>
          <li>
            <a href="graphic-design.html">
              <i class="icon-vector"></i> Graphic/Print Design</a>
          </li>
          <li>
            <a href="video-production.html">
              <i class="icon-camera"></i> Video Production</a>
          </li>
        </ul>
      </div>
      <!-- End of .service-overlay1 -->
    </div>
  </div>
  <!--end features box -->
  <!-- features box -->
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="box-green-border">
      <a href="services.html#bm-development">
        <span class="icon-laptop-phone"></span>
        <div>Development</div>
      </a>
      <p>Scopul acestui curs este ca un participant sa poata face un web site de la inceput si pana la sfarsit. Ca si informatii principale mentionam algoritmica, modularizarea, partea de front-end si back-end, testarea, deployment si mentinerea aplicatiei</p>
      <div class="service-overlay1">
        <ul class="clearfix">
          <li>
            <a href="content-management-system.html">
              <i class="icon-papers"></i> Content Management System</a>
          </li>
          <li>
            <a href="mobile-app-development.html">
              <i class="icon-smartphone-embed"></i> Mobile App Development</a>
          </li>
          <li>
            <a href="ecommerce.html">
              <i class="icon-cart"></i> eCommerce</a>
          </li>
        </ul>
      </div>
      <!-- End of .service-overlay1 -->
    </div>
  </div>
  <!--end features box -->
  <!-- features box -->
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="box-green-border">
      <a href="services.html#bm-online-marketing">
        <span class="icon-chart-growth"></span>
        <div>Abordare</div>
      </a>
      <p>Incepem cu partea de algoritmica folosind javascript, partea de server folosind node.js, html&CSS, frameworkuri front-end, aplicatii mobile, testare si deployment</p>
      <div class="service-overlay1">
        <ul class="clearfix">
          <li>
            <a href="search-engine-optimization.html">
              <i class="icon-magnifier"></i> Search Engine Optimization</a>
          </li>
          <li>
            <a href="pay-per-click.html">
              <i class="icon-select2"></i> Pay-Per-Click</a>
          </li>
          <li>
            <a href="email-marketing.html">
              <i class="icon-envelope-open"></i> Email Marketing</a>
          </li>
          <li>
            <a href="social-media-marketing.html">
              <i class="icon-share"></i> Social Media Marketing</a>
          </li>
          <li>
            <a href="display-marketing.html">
              <i class="icon-news"></i> Display Marketing</a>
          </li>
        </ul>
      </div>
      <!-- End of .service-overlay1 -->
    </div>
  </div>
  <!--end features box -->
  <!-- features box -->
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="box-green-border">
      <a href="services.html#bm-online-marketing">
        <span class="icon-puzzle"></span>
        <div>grupul</div>
      </a>
      <p>Beneficiaza de experienta grupului in rezolvarea exercitiilor, abordarea algoritmilor, metodelor de programare. Sustinem rezolvarea taskurilor si dupa terminarea cursurilor  </p>
      <div class="service-overlay1">
        <ul class="clearfix">
          <li>
            <a href="digital-strategy.html">
              <i class="icon-chart-settings"></i> Digital Strategy</a>
          </li>
          <li>
            <a href="business-consulting.html">
              <i class="icon-bubble-user"></i> Business Consulting</a>
          </li>
          <li>
            <a href="content-writing.html">
              <i class="icon-register"></i> Content Writing</a>
          </li>
          <li>
            <a href="reporting.html">
              <i class="icon-chart-growth"></i> Reporting</a>
          </li>
        </ul>
      </div>
      <!-- End of .service-overlay1 -->
    </div>
  </div>
  <!--end features box -->
  <!-- features box -->
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class="box-green-border">
      <a href="services.html#bm-online-marketing">
        <span class="icon-cloud-upload"></span>
        <div>Tehnologie</div>
      </a>
      <p>Partea de full stack developer, este acoperita in totalitate. Prin urmarea acestor cursuri, cursantul va avea cunostiintele necesare pe piata muncii si ajutor din partea noastra la angajare </p>
      <div class="service-overlay1">
        <ul class="clearfix">
          <li>
            <a href="domain.html">
              <i class="icon-magnifier"></i> Domain</a>
          </li>
          <li>
            <a href="hosting.html">
              <i class="icon-server"></i> Hosting</a>
          </li>
          <li>
            <a href="big-data-analysis.html">
              <i class="icon-pie-chart"></i> Big Data Analysis</a>
          </li>
        </ul>
      </div>
      <!-- End of .service-overlay1 -->
    </div>
  </div>
  <!--end features box -->
</div>
</div>
