

<div class="container">

  <div class="row center title">
    <label class="">{{localizationService.language.cursuri.title}}</label>
  </div>

  <div class="row center">
    <label class="">{{localizationService.language.cursuri.desc}}</label>
  </div>


  <div class="row">

    <div class="col-md-4 col-sm-6" *ngFor="let entry of src; let i = index;">

      <div  class="">

        <div  class=" ">
          <div  class="">
            <div  class="row1">
              <div  class="panel panel-default ">
                <div  class="panel-heading">
                  <div class="newsObject.titleClass">
                    <div class="header">
                      <img src="{{entry.img}}"/>
                      <label>{{entry.title}}</label>
                    </div>
                  </div>
                </div>

                <div  class="panel-body scroll">
                  <span  class="">
                    {{entry.text}}
                  </span>
                </div>

                  <!---->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
</div>

