<div class="title center">
  <h2 class="b-clor mssh1-">{{localizationService.language.what.p3}}</h2>
</div>

<div>
In multe situatii, echipele ar fi bine sa fie formate, sa lucreze bine impreuna, sa se aiba in vedere rolul in echipa a fiecarui membru in functie de abilitatile sale.
  Incercam sa imprimam o motivatie crescuta, colaborare in continua crestere intre persoanele implicate.
  Trainingurile acopera o gama larga de tehnologii. Ar putea fi cele de la rubrica cursuri la care mai adaugam si tehnologiile Microsoft.
</div>
