.center
{
  text-align: center;
}

.pager
{
  margin-top: 30px;

  padding-bottom: 20px;
}


.topbtn
{
  margin: 5px;
}

.btnOver
{
  color: green;
  border: 1px solid blue;
}

.selected
{
  background-color: green;
}
