<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
  <!--<h1>-->
    <!--Welcome to {{title}}!-->
  <!--</h1>-->
<!--</div>-->


<!--<markdown>-->
  <!--## Markdown h2 content-->
<!--</markdown>-->

<!--<app-markdown-viewer></app-markdown-viewer>-->
<!--<app-mermaid-viewer></app-mermaid-viewer>-->
<!--{{rrr}}-->
<!--<div class="mermaid">-->
  <!--mermaid editor-->

  <!--graph TD;-->
  <!--A&ndash;&gt;B;-->
  <!--A&ndash;&gt;C;-->
  <!--B&ndash;&gt;D;-->
  <!--C&ndash;&gt;D;-->

<!--</div>-->

<!--<app-console-componet></app-console-componet>-->

<app-header></app-header>

<!--<app-codemirror-editor></app-codemirror-editor>-->
<router-outlet></router-outlet>

<!--<router-outlet name="popup"></router-outlet>-->



