
<!--<div class="row center title">-->
  <!--<label class="">&nbsp;</label>-->
<!--</div>-->

<!--<pre>{{newsObject | json}}</pre>-->
<div class="container">
    <div class="row center">
      <button class="btn1 btn-link center" (click)="previewsNews()">Stirea precedenta</button>
    </div>

  <div class="row1">
  <!--<button class="btn1 btn-link center" (click)="previewsNews()">Stirea precedenta</button>-->
    <app-news [newsObject]="newsObject" [canEditNews]="canEditNews"></app-news>
  </div>
</div>






