
<!--<app-wys-editor></app-wys-editor>-->

<!--<p [@myAwesomeAnimation]='state' (click)="animateMe()">I will animate</p>-->

<!--<app-typo></app-typo>-->


<div class="row">
  <app-home-presentation></app-home-presentation>
</div>

<div class = "row">
    <app-mainslider></app-mainslider>
</div>
<div class="container">
<div class = "row">
  <app-consulting></app-consulting>
</div>

<div class = "row">
  <app-collaboration></app-collaboration>
</div>

<div class = "row">
  <app-training-it></app-training-it>
</div>

<div class="row">
  <app-services></app-services>
</div>
</div>
<app-footer></app-footer>
